
<!DOCTYPE html>
<html lang="pt-BR">
<%- include('partials/head') %>
<body class="bg-dark">
    <%- include('partials/header') %>
    <div class="container">
        <%- include('partials/Mensagem') %>
        <%- body %>
    </div>
    <%- include('partials/footer') %>
</body>
</html>