<div class="d-flex justify-content-between">
    <h3 class="text-primary">Níveis</h3>
    <a class="btn btn-primary" onclick='ShowModal()'><i class="bi-plus"></i></a>
</div>
<% if(Nivel && Nivel.length> 0) {%>
    <table class="table table-dark table-striped mt-2">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% Nivel.forEach(element=> {%>
                <tr>
                    <td>
                        <%= element.Id %>
                    </td>
                    <td id="item_name_<%=element.Id %>">
                        <%= element.Nome %>
                    </td>
                    <td>
                        <%= element.Descricao %>
                    </td>
                    <td>
                        <i class="bi-pen btn text-primary" onclick="ShowModal('<%= element.Id %>')"></i>
                        <i class="bi-trash btn text-danger" onclick='ShowModalDeleteItem("<%= element.Id %>")'></i>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% } else{%>
        <p style="color: white;">Nenhum nivel cadastrado!</p>
        <% }%>
            <%- include('partials/ModalDeleteItem', {rota:"Nivel", action: "/DeleteNivel" }) -%>
            <%- include('partials/ModalEditNivel', {rota:"Nivel", action: "/InserirNivel" }) -%>